<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body bgcolor="#ff4500t">
    {% block content %}
        <div align="center">
            <nav>
                {% if user.is_authenticated %}
                    <a href="{% url 'seephoto' %}">구매</a> |
                    <a href="{% url 'buy_receipt' %}">구매내역</a> |
                    <a href="{% url 'see_favorite_photo' %}">장바구니</a> |
                    <a href="{% url 'profile' %}">프로필</a> |
                    <a href="{% url 'seeboard' %}">게시판</a> |
                    <a href="{% url 'logout' %}">로그아웃</a>
                {%  else %}
                    <a href="{% url 'login' %}">로그인</a> |
                    <a href="{% url 'signup' %}">회원가입</a>
                {% endif %}
            </nav>
        </div>
        <br>
    <h1 align="center" style="color: white">최성철 교수님의 사진을 팔고 있습니다.</h1>
    <div align="center">
        {% load static %}
        <div>
            <img src={% static  "/img/teamlab_1.png" %} style="width:30%;height:30%">
            <img src={% static  "/img/teamlab_2.jpg" %} style="width:30%;height:30%">
        </div>
        <div>
            <img src={% static  "/img/teamlab_3.jpg" %} style="width:30%;height:30%">
            <img src={% static  "/img/teamlab_4.png" %} style="width:30%;height:30%">
        </div>
    </div>
    {% endblock %}
</body>
</html>